* {
  box-sizing: border-box;
}
body {
  background-image: url(battlefield.jpg);
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.opponent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}
.active.opponent-container {
  filter: blur(5px);
}
.active.my-container {
  filter: blur(5px);
}
.opp1, .opp2, .opp3, .opp4, .opp5 {
  background: linear-gradient(to right, #F0F2F0, #000C40);
  width: 15rem; 
  height: 18rem;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 4px 8px rgba(0,0,0,.8);
}
.active.opp1 {
  filter: brightness(0.3);
  pointer-events: none;
}
.active.opp2 {
  filter: brightness(0.3);
  pointer-events: none;
}
.active.opp3 {
  filter: brightness(0.3);
  pointer-events: none;
}
.active.opp4 {
  filter: brightness(0.3);
  pointer-events: none;
}
.active.opp5 {
  filter: brightness(0.3);
  pointer-events: none;
}
.middle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
}
.my-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  bottom: -120px;
}
.me1, .me2, .me3, .me4, .me5 {
  background: linear-gradient(to right, #F0F2F0, #000C40);
  width: 15rem;
  height: 18rem;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.active.me1 {
  filter: brightness(0.3);
  pointer-events: none;
}
.active.me2 {
  filter: brightness(0.3);
  pointer-events: none;
}
.active.me3 {
  filter: brightness(0.3);
  pointer-events: none;
}
.active.me4 {
  filter: brightness(0.3);
  pointer-events: none;
}
.active.me5 {
  filter: brightness(0.3);
  pointer-events: none;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height: 3rem;
  width: 101%;
  overflow: hidden;
}
.picture {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  object-fit: cover;
  object-position: 0px 0px;
}
.name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: -10px;
}
.health {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.damage {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.attack {
  width: 10rem;
  font-size: 20px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: linear-gradient(to right, #f55321, rgb(255, 213, 0));
  cursor: pointer;
  border-radius: 10px;
}
.attack :hover {
  zoom: 125%
}
.active.attack {
  filter: brightness(0.4);
  pointer-events: none;
}
.questions-container {
  width: 50rem;
  height: 40rem;
  position: absolute;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  z-index: 1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
.active.questions-container {
  visibility: hidden;
}
.question {
  position: relative;
  top: -0.5rem;
  font-size: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: none;
  position: relative;
  top: -2rem;
  justify-content: center;
  align-items: center;
  width: 20rem;
}
.option1, .option2, .option3, .option4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 6rem;
  position: relative;
  margin: none;
  width: 40rem;
  cursor: pointer;
  transition: 0.4s;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(9, 98, 116);
}
.option1:hover, .option2:hover, .option3:hover, .option4:hover {
  background-color: #2c3e50;
}
.points {
  position: absolute;
  left: 3rem;
  font-size: 2rem;
  font-weight: 600;
  color: #000C40;
  background: linear-gradient(to right, #f55321, rgb(255, 213, 0));
  height: 3rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.endturn {
  background: linear-gradient(to right, #f55321, rgb(255, 213, 0));
  position: absolute;
  right: 3rem;
  font-size: 2rem;
  font-weight: 600;
  color: #000C40;
  height: 3rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.endturn:hover {
  filter: brightness(0.8);
}
.active.endturn {
  filter: brightness(0.4);
  pointer-events: none;
}
.victory {
  position: absolute;
  background-color: #000C40;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  top: 0rem;
  height: 20rem;
  width: 50rem;
  left: 22.5rem;
  border-radius: 15px;
  top: 13rem;
  box-shadow: 0 4px 8px rgba(0,0,0,rgba(0,0,0,.8));
  transition: all, 0.4s;
  opacity: 1;
}
.active.victory {
  visibility: hidden;
  opacity: 0;
  top: 1rem;
}
.defeat {
  position: absolute;
  background-color: #000C40;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  top: 0rem;
  height: 20rem;
  width: 50rem;
  left: 22.5rem;
  border-radius: 15px;
  top: 13rem;
  box-shadow: 0 4px 8px rgba(0,0,0,rgba(0,0,0,.8));
  transition: all, 0.4s;
  opacity: 1;
}
.active.defeat {
  visibility: hidden;
  opacity: 0;
  top: 1rem;
}